.main-content{
  flex:1; padding:2.25rem 0; box-sizing:border-box; width:100%; display:flex; flex-direction:column; gap:var(--gap);
}

.page-top{ padding:0 1rem }

.content-wrap{ max-width:var(--max-width); margin:0 auto; width:100%; padding:0 1rem }